<!DOCTYPE>
<html>
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    <script src="~/Scripts/parallax.js"></script>
    @* Fonts *@
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli|PT+Sans" rel="stylesheet">

    @* Icons *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Website Style Sheet *@
    @*<link href="~/Content/Fitnesswebstyle.css" rel="stylesheet" />*@

    </head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark cherry py-2 " style="border-bottom:solid 1px;">

            <ul class="icons p-0 m-0">
                <li class="nav-item"><i class="fab fa-facebook-f nav-link"></i></li>
                <li class="nav-item"><i class="fab fa-twitter nav-link"></i></li>
                <li class="nav-item"><i class="fab fa-instagram nav-link"></i></li>
                <li class="nav-item"><i class="fab fa-linkedin-in nav-link"></i></li>


            </ul>
            <ul class="nav navbar-nav ml-sm-auto icons2 ">
                <li class="nav-item"><i class="fas fa-envelope nav-link "></i>Fitness@gmail.com</li>
                <li class="nav-item"><i class="fas fa-phone nav-link "></i>+16822222222</li>
            </ul>


        </nav>

        @{
            if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Customer"))
                {
                    <nav class="navbar navbar-expand-lg navbar-dark cherry py-3 ">
                        <ul class="navbar-nav">
                            <li class="nav-item ml-5" style="font-size:25px;">Trainer<b>Tracker</b></li>
                        </ul>
                        <ul class="navbar-nav ml-auto menu mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="classdropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Class</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="#">Yoga</a>
                                    <a class="dropdown-item" href="#">Abs</a>
                                    <a class="dropdown-item" href="#">Boxing</a>
                                    <a class="dropdown-item" href="#">Weight Lifting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">More</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Personal Training</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="#">View Trainers</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Book Personal Training session</a>
                                    <a class="dropdown-item" href="#">Booked Trainings session</a>



                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Billing</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Help</a>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/ContactUs">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/SocialMedia">Social Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Account/Signout">Logout</a>
                            </li>
                        </ul>

                    </nav>
                }
                if (User.IsInRole("Admin"))
                {
                    <nav class="navbar navbar-expand-lg navbar-dark cherry py-3 ">
                        <ul class="navbar-nav">
                            <li class="nav-item ml-5" style="font-size:25px;">Trainer<b>Tracker</b></li>
                        </ul>
                        <ul class="navbar-nav ml-auto menu mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">Manage Roles <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="classdropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manager</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="~/Account/SignupManager">Create new manager</a>
                                    <a class="dropdown-item" href="#">Manage accounts</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Manage Trainers</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="#">Trainer Role</a>




                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Account/Signout">Logout</a>
                            </li>
                        </ul>

                    </nav>
                }

                if (User.IsInRole("Manager"))
                {
                    <nav class="navbar navbar-expand-lg navbar-dark cherry py-3 ">
                        <ul class="navbar-nav">
                            <li class="nav-item ml-5" style="font-size:25px;">Trainer<b>Tracker</b></li>
                        </ul>
                        <ul class="navbar-nav ml-auto menu mr-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="classdropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trainer</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="~/Account/SignupTrainer">Create new Trainer</a>
                                    <a class="dropdown-item" href="#">Manage accounts</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/Account/Signout">Logout</a>
                            </li>
                        </ul>

                    </nav>
                }
                if (User.IsInRole("Trainer"))
                {
                    <nav class="navbar navbar-expand-lg navbar-dark cherry py-3 ">
                        <ul class="navbar-nav">
                            <li class="nav-item ml-5" style="font-size:25px;">Trainer<b>Tracker</b></li>
                        </ul>
                        <ul class="navbar-nav ml-auto menu mr-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="classdropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training Session</a>
                                <div class="dropdown-menu" aria-labelledby="classdropdown">
                                    <a class="dropdown-item" href="~/Trainer/NotAvailable">Not available time</a>
                                    <a class="dropdown-item" href="#">Manage accounts</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/Account/Signout">Logout</a>
                            </li>
                        </ul>

                    </nav>
                }
            }
            else
            {
                <nav class="navbar navbar-expand-lg navbar-dark cherry py-3 ">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5" style="font-size:25px;">Trainer<b>Tracker</b></li>
                    </ul>
                    <ul class="navbar-nav ml-auto menu mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="classdropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Class</a>
                            <div class="dropdown-menu" aria-labelledby="classdropdown">
                                <a class="dropdown-item" href="#">Yoga</a>
                                <a class="dropdown-item" href="#">Abs</a>
                                <a class="dropdown-item" href="#">Boxing</a>
                                <a class="dropdown-item" href="#">Weight Lifting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">More</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="classdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Personal Training</a>
                            <div class="dropdown-menu" aria-labelledby="classdropdown">
                                <a class="dropdown-item" href="~/Account/Signin">Book Personal Training</a>
                                <a class="dropdown-item" href="~/Account/Signin">Booked personal Trainings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Home/Trainer">View Trainers</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Home/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Home/ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Home/SocialMedia">Social Media</a>
                        </li>
                    </ul>

                </nav>
            }

        }





    </div>

    @RenderBody()
    <div class="container body-content">


        <hr />

        <footer>


            <div class="container row p-3">
                <div class="col-sm-3 p-3">
                    <h3 style="color:#F23A2E">About</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Repellat quos rem ullam, placeat amet sint vel impedit reprehenderit eius
                        expedita nemo consequatur obcaecati aperiam, blanditiis quia iste in!
                        Assumenda, odio?

                    </p>
                    <button class="btn gbutton">Read More</button>
                </div>
                <div class="col-sm-3 p-3 border-light">
                    <h4 style="color:#F23A2E">Quick Menu</h4>

                    <p>About</p>
                    <p>Service</p>
                    <p>Approach</p>
                    <p>News</p>
                    <p>Carrers</p>

                </div>
                <div class="col-sm-6 p-3">
                    <h4 style="color:#F23A2E">Contact Info</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                11929 W Airport Blvd,<br />
                                Stafford, TX 77477
                            </address>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Tel. + (123) 3240-345-9348<br />
                                Mail. Fitness@gmail.com

                            </p>
                        </div>
                    </div><br />
                    <div class="">
                        <h4 style="color:#F23A2E">Social icons</h4>
                        <i class="fab fa-facebook-f nav-link"></i>
                        <i class="fab fa-twitter nav-link"></i>
                        <i class="fab fa-instagram nav-link"></i>
                        <i class="fab fa-linkedin-in nav-link"></i>
                    </div>
                </div>
            </div>
            <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery-ui.min")
        @RenderSection("scripts", required: false)
    </div>



</body>
</html>