@model Fitness.Models.NotavailableDatetime
@{
    ViewBag.Title = "NotAvailable";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h2>NotAvailable</h2>

<div class="row ">
    @using (Html.BeginForm("Notavailable", "Trainer", FormMethod.Post, new { @class = "container pt-1" }))
    {
    <div class="container-fluid">
        @Html.AntiForgeryToken()
        <hr />
        <h4>Need style signup page</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NotavailableDate)
            @Html.TextBoxFor(m => m.NotavailableDate, "{0:dd mm yyyy}", new { @class = "form-control", placeholder = "MM/DD/YYYY", value = @DateTime.Now.ToString("yyyy - MM - dd"), type = "date", Id = "txtDate" })
            @Html.ValidationMessageFor(m => m.NotavailableDate);

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StartTime)
            @Html.TextBoxFor(m => m.StartTime, "", new { @class = "form-control", placeholder = "HH", id="Stime" })
            @Html.ValidationMessageFor(m => m.StartTime);

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Endtime)
            @Html.TextBoxFor(m => m.Endtime, "", new { @class = "form-control", placeholder = "HH", id="Etime" })
            @Html.ValidationMessageFor(m => m.Endtime);

        </div>
        
        <button type="submit" class="btn gbutton" id="timebtn">Add</button>
    </div>
    }
   </div>

@section scripts{
    <script type="text/javascript">
        $("#timebtn").click(function (event) {
            var starttime = $("#Stime").val();
            var endtime = $("#Etime").val();
            console.log(starttime);
            console.log(endtime);

        });
    </script>
    
    }
