@model Fitness.Models.Viewmodel.Loginviewmodel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Login", "Account"))
    {
        @Html.AntiForgeryToken()
        <h4>Use a local account to log in.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control" })
        </div>
        <div class="form-group">
           
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            
        </div>
    }
</div>

