@model Fitness.Models.Viewmodel.SigninViewmodel
@{
    ViewBag.Title = "signin";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}


    <div class="row ">
        @using (Html.BeginForm("Signin","Account",FormMethod.Post,new {@class = "container pt-1" }))
        {
        <div class="container-fluid">
            @Html.AntiForgeryToken()
            <h4>Need style SignIn page</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control" })
            </div>
            <div class="form-group">

                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

            </div>
            <button type="submit" class="gbutton btn">LogIn</button>
        </div>
        }
    </div>



