@model Fitness.Models.Viewmodel.SigninViewmodel
@{
    ViewBag.Title = "signin";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<style>

 .bg-img {
        background-color: #f8f9fa;
    }
form{
        margin-right: auto;
        margin-left: auto;
        width: 60%;
        height: 60%;
    }
.form-group{
    margin-left:auto;
    margin-right:auto;
    width:30%;
}
.form-control {
        padding: .5rem 1.7rem;
    }
#icon-username::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f007";
        position:absolute;
        font-size: 22px;
        transform:translateX(30%);
        padding-top: 35px;
    }
    #icon-password::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f084";
        position: absolute;
        font-size: 22px;
        transform: translateX(25%);
        padding-top: 35px;
    }
</style>

    <div class=" container bg-img pt-3 mt-5 mb-5 shadow ">
        @using (Html.BeginForm("Signin","Account",FormMethod.Post,new {@class = "container pt-1 " }))
        {
       
            <div class="col-12 user-img text-center">
                <div><i class="fas fa-user-circle fa-7x"></i></div>
            </div>
            @Html.AntiForgeryToken()
            <hr style="width:30%;"/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" id = "icon-username" >
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group" id="icon-password">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", type = "password" })
            </div>
            <div class="form-group">

                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

            </div>

            <div class="text-center pb-3">
                <button type="submit" class="gbutton btn">Log In</button>
                <a href="~/Account/signup" class="Rbutton btn">Register</a>
            </div>
        
        }
    </div>



